@page
@model Torneo.App.Frontend.Pages.DTs.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear D.T.</a>
<h1>Listado de Directores Tecnicos</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>

    <tbody>
        @foreach(var dt in Model.dts)
        {
            <tr>
                <th scope="row">@dt.Id</th>
                <td>@dt.Nombre</td>
            </tr>
            <td>
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@dt.Id">Detalle</a>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@dt.Id">Editar</a>
            </td>
        }
    </tbody>
</table>