@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:darkgreen;font-family:Arial">Bienvenidos al Portal de Torneos</h1>
    <p style="color:black;font-family:Arial">En este portal usted puede validar la informacion de los equipos ya registrados en el torneo,en caso de una modificacion o eliminacion en los menus que se encuentran en la parte de arriba realiar las modificaciones</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
